// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue:#e91e63;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #6c63ff;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #40cc92;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$blue-300: #1765a5;
